<html>
  <head>

    <!-- FIREBASE -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <!-- BOOTSTRAP CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- GOOGLE FONTS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Candal"
    />

    <!-- FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/64273a4a3c.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/design_files/css/admin.css" />
    <title>ICRM System</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <h1 class="logo-text"><span>ICRM</span> System</h1>
      </div>
      <i class="fa fa-bars menu-toggle"></i>
      <ul class="nav">
        <li><a href="/user/<%=userId%>/home">Home</a></li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            Information
            <i class="fa fa-chevron-down" style="font-size: 0.8em;"></i>
          </a>
          <ul>
            <li><a href="/user/<%=userId%>/profile">Profile</a></li>
            <% if(lead == "Yes" ){%>
            <li><a href="/user/<%=userId%>/preference">preference</a></li>
            <%}%>
            <li>
              <a href="/user/<%=userId%>/logout" class="logout"
                >logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- Admin-Wrapper -->
    <div class="admin-wrapper">
      <!-- LEFT-SIDEBAR -->
      <div class="left-sidebar">
        <ul>
          <li>
            <img
              src="<%= imagePath%>"
              alt=""
              class="img icon rounded-circle mb-5"
            />
            <!-- style="background-image: url(../design_files/images/ICON.png);" -->
            <div>
              <label for=""><%= name%></br>
              <%= email%>
              </label>
            </div>
          </li>
          <li>
            <a href="/user/<%=userId%>/dashboard">Dashboard</a>
          </li>

          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
              Service <i class="fa fa-chevron-down"></i>
            </a>

            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="/user/<%=userId%>/analysis"
                  >Self Analysis</a
                >
              </li>
              <li>
                <a href="/user/<%=userId%>/chatbot">
                  Chat Bot
                </a>
              </li>

            </ul>
          </li>
        </ul>
      </div>

      <!-- USER CONTENT -->
      <div class="admin-content">
        <h2 class="page-title">My Profile</h2>
        <form action="/user/<%=userId%>/edit" method="POST">
          <div class="form=group">
            <label for="">Name</label>
            <input
              type="text"
              name="name"
              id="title"
              class="form-control"
              value="<%= userSnap.val().name%>"
              required
            />
          </div>
          <div class="form=group">
            <label for="">Email Address</label>
            <input
              type="text"
              name="email"
              id="title"
              class="form-control"
              value="<%= userSnap.val().email%>"
              required
            />
          </div>
          <div class="form=group">
            <label for="">Phone Number</label>
            <input
              type="text"
              name="phone"
              id="title"
              class="form-control"
              value="<%= userSnap.val().phone%>"
              required
            />
          </div>
          <div class="form=group">
            <label for="">Password</label>
            <input
              type="text"
              name="password"
              id="title"
              class="form-control"
              value="<%= userSnap.val().password%>"
              required
            />
          </div>
          <div class="form=group">
            <a href="/user/<%=userId%>/profile" class="btn btn-Danger"
              >Cancel</a
            >
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>

    <!-- CUSTOM SCRIPT -->
    <script src="/js/scripts.js"></script>
  </body>
</html>
